@model List<MVCLab2.Models.Message>
@{
    ViewBag.Title = "Messages";
}

<p>
    @foreach (var m in Model)
    {
        @:From: @m.User.UserName <br />
        @:Title: @m.Title <br />
        @:Date: @m.Date<br />
        @:Topic: @m.Topic <br />
        @:@m.Body<br />

        @Html.ActionLink("Reply", "ReplyToMessage", "Messages", new { Id = m.MessageID })<br />

        @foreach (var r in m.MessageReplies)
        {
            @: <i>@r.Body</i><br />
        }
        <br />
    }
    <br />

@Html.ActionLink("Add Message", "AddNewMessage", "Messages")<br />
@Html.ActionLink("Show boredom messages", "MessagesByTopic", "Messages",
    new { topic = "Boredom" })<br />
@Html.ActionLink("Show introduction messages", "MessagesByTopic", "Messages",
    new { topic = "Introduction" })<br />
@Html.ActionLink("Show member1 messages", "MessagesByMember", "Messages",
    new { member = "member1" })<br />
@Html.ActionLink("Show member2 messages", "MessagesByMember", "Messages",
    new { member = "member2" })<br />
</p>