@model List<MVCLab2.Models.Message>
@{
    ViewBag.Title = "Messages";
}

<p>
    @foreach (var m in Model)
    {
         @:<p>From: @m.UserName <br />
         @:Title: @m.Title <br />
         @:Date: @m.Date<br />
        @:Topic: @m.Title <br />
        @: <h5>@m.Body</h5></p> <br />
        }
    <br />
</p>